	<ul id="unsortable">
	<% for user_activity in @user_activity%>
	
	  <a id="home" class ="open_challenge" class="spy_light" chan_id = "" href = "javascript:void(0)">
		<li>
	  	<div class="person-smirk">
	  	<img  src="/img/icon/main_badges.png" style="width: 40px; height: 40px;">

	  	</div>
	  	<div class="person-status-watched">

	    	 	<b><span style ="font-size:15px">
			      <%=user_activity.user.name %></span>
			     </b>
		
	  		 <div class="person-name">

				<%if user_activity.challenge  %>
				play <span class="tag_name"><%=user_activity.challenge.name%></span>
				<%end%>
	  	      
		       <%if user_activity.checkin_type_id %>
		       <% if  user_activity.checkin_type_id == 1%>
		       到此一游
		       <% elsif user_activity.checkin_type_id == 3%>
		       到此一游 加标签：	 <span class="tag_name"><%=user_activity.challenge_tweet%></span>
		       <% else %>
		       说到：  <span class="tag_name"><%=user_activity.challenge_tweet%></span>
		       <%end%>
		       <%end%>
		       </b></span>
		      
	  		</div>

	  		<div class="rehash-list action-count"></div>

	 <span ><%=user_activity.created_at.strftime("%Y-%m-%d")%></span>
	  	</div>
	  <br class="clear">
	  <hr>  
	  </li>	
	</a>		
	<% end %>
	  </ul>