<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html style="height: 100%;" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns="http://www.w3.org/1999/xhtml"><head>




<title>LBS@C</title>
<!-- meta tags -->
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta content="LBS@c" name="lbs@C">
<meta content="particle, profile, video, status, avatar" name="keywords">
<meta content="global" name="distribution">

<!-- iphone tags -->
<meta name="apple-mobile-web-app-capable" content="YES"> 
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="viewport" content="width = device-width, user-scalable = no">


<!-- link tags -->
<!--- set the sensor to true here to determine the location from mobile phone GPS sensor -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script> 
<%= javascript_include_tag 'jquery_002.js' %>
<%= javascript_include_tag 'jquery-ui.js' %>
<%= javascript_include_tag 'jquery.js' %>
<%= javascript_include_tag 'application.js' %>
<%= javascript_include_tag 'places.js' %>
<%= stylesheet_link_tag 'lbsc' %>
<%= stylesheet_link_tag 'jquery-ui-1' %>

<body style="position: relative; min-height: 100%; top: 0px;" id ="background"s>

<!-- header start -->
<span id="place_header_span" class="header-rows"> <b> Place: <%=@place.name %></b></span>

<div id="verticali-nav">
  <div id="verticali-tabs" class="spy-plain">
	
<% @link_to_place_id = url_for(:controller =>'places' ,:action =>'show_challenges', :id=>@place.id) %>

		<a id ="challenge_header" href="<%=@link_to_place_id%>"><div  id= "challenge_header_div" class="verticali-secondary-selected2 tab-left left"><b>Challenges</b></div></a>
     	<a id ="activity_header" href="javascript:void(0)"><div id= "activity_header_div" class="verticali-secondary-tab2 centertab2 left">Activities</div></a>
        <a id = "info_header" href="#"><div class="verticali-secondary-tab2 tab-right right">Info</div></a>
    <br class="clear">
</div>	

<!-- header end -->
<!--- content start -->
<input type="hidden" style ="display:none;" id ="hidden_place_id" value = "<%=@place.id %>">
<input tyep="hidden" style ="display:none;" id = "hidden_user_id" value = "<%=session[:user_id] %>">
<div id="verticali-watched">
	<div id="gradient"></div>
	<div id="challenge_list">
			<span id="place_header_span" class="checkin-span"> <b>User created</b></span>
		  <div class="place">
		 	<ul id="unsortable">
			<% for challenge in @place.challenges%>
			
			  <a id="home" class ="open_challenge" class="spy_light" chan_id ="<%=challenge.id %>" href = "javascript:void(0)">
				<li>
			  	<div class="person-smirk">
			  	<img  src="/img/icon/main_badges.png" style="width: 40px; height: 40px;">

			  	</div>
			  	<div class="person-status-watched">

			    	 	<b><span style ="font-size:15px">
					      <%=challenge.name %></span>
					     </b>
				
			  		 <div class="person-name">

			  			<span class="person-timestamp">
			  			111人到访, Challenges: &nbsp    &nbsp<span class ="button-ch"> 
				       <b>
				       	7-11
				       </b></span></span>
			  		</div>

			  		<div class="rehash-list action-count"></div>
			  	</div>
			  <br class="clear">
			  <hr>  
			  </li>	
			</a>		
			<% end %>
			  </ul>   	
		  </div>
	
	<span id="place_header_span" class="checkin-span"> <b>Check_ins</b></span>
	<% checkins = [{'id' => '1','checkin_type' => '签到！','points' => '2'},
	   			{'id' => '2','checkin_type' => 'Tweet check_in!','points' => '3'},
				{'id' => '3','checkin_type' => 'Tag this place!','points' => '3'},
		]%>
	    <ul id="unsortable">
		
		<% checkins.each do |checkin|%>
		  <a id="home" class ="checkin_challenge" class="spy_light" checkin_id = "<%=checkin['id']%>" href = "javascript:void(0)">
			<li>
		  	<div class="person-smirk">
		  	<img  src="/img/icon/main_badges.png" style="width: 40px; height: 40px;">
		  	</div>
		  	<div class="person-status-watched">
		    	 	<b><span style ="font-size:15px">
				      <%=checkin['checkin_type']%></span>
				     </b>
			
		  		 <div class="person-name">

		  			<span class="person-timestamp">
					You can get points : &nbsp    &nbsp &nbsp &nbsp
		  		    <span class ="button-ch"> 
			       <b>
			       	+<%=checkin['points'] %>
			       </b></span></span>
		  		</div>

		  		<div class="rehash-list action-count"></div>
		  	</div>
		  <br class="clear">
		  <hr>  
		  </li>	
		</a>		
		<% end %>
		  </ul>

	</div>
</div>
</div>
  
<!--- places index content  -->
<div id = "challenge_dialog" title="play the challenge">
	<p><div id="challenge_points" class="button-ch-checkin tab-right right "> </div>
		<div id="challenge_content" style="color: #005481; border: 0px; font-size: 15px !important;"></div>
		<input id="challenge_id_input" style="display:none;"></input>
		<input id="challenge_points_tag" style="display:none;"></input>
		
   </p>
    <br class="clear">
 	<input  class="lb_field_tag " id ="challenge_answer"  > </input>
	
</div>
<!-- check in dialog 1-->
<div id = "checkin_dialog" title="check in this place">

  	<img  src="/img/icon/check_in2.png" style="width: 60px; height: 60px; float:left;">
  
	<p>
	   <div id="checkin_name" style="font-size: 13px !important;float:left;" class ="tab-right right" >
	    Let your friend know where are you now!
	   </div></p>
    <br class="clear">
	
	
</div>

<div id = "checkin_dialog_twee" title="check in this place">

  	<img  src="/img/icon/comments.png" style="width: 60px; height: 60px; float:left;">

	<p>
	   <div id="checkin_name" style="font-size: 13px !important;float:left;" class ="tab-right right" >
	   	Sqy something to your pal:
	   </div></p>
    <br class="clear">
		<input  class="lb_field_tag " id ="challenge_tweet"  > </input>

	
</div>

<div id = "checkin_dialog_tag" title="check in this place">
	
  	<img  src="/img/icon/tag_blue.png" style="width: 60px; height: 60px; float:left;">
  	   
	<p>
	   <div id="checkin_name" style="font-size: 13px !important;float:left;" class ="tab-right right" >
	   	Tag this place with your own words!
	   </div></p>
	<input  class="lb_field_tag " id ="place_tag"  > </input>
	
	
    <br class="clear">

	
</div>


<div id = "sucess_dialog" title="Success">
	
  	<img  src="/img/icon/success-icon.png" style="width: 100px; height: 100px; float: center;">
  	
    <br class="clear">
</div>

<script type = "text/javascript">
$(function()
{
	places.initializeDialogs();
});

</script>


<!--- place find result ajax div start-->
    




<!--- content end -->
	  

</body>
</html>
