<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Users: <%= controller.action_name %></title>
<%= javascript_include_tag ['jquery_002', 'application'] %>
<%= javascript_include_tag ['jquery-ui', 'application'] %>

  <%= stylesheet_link_tag 'lbsc' %>
  <%= stylesheet_link_tag 'jquery-ui-1' %>
</head>
<body id="background">

<p style="color: green"><%= flash[:notice] %></p>
<div id="description-box"></div>
<div id="account-stuff">

	   	<% @link_home = url_for(:controller =>'index') %>
	      <a id="home" href = "<%=@link_home%>">
      	   <div id="brand"></div>
   	     </a>
	   <div id="navi_item" class ="spy_light"  	   
	  <% if session[:user_id] %>
	   style = "display: block;"
	   <% end %>
	   >
		
					<% @link_profile = url_for(:controller =>'users',:action=>'show') %>
	  			  	<a href="<%=@link_profile%>" title="See your profile">
	    			  	  <div class="navbar-item ">
							<%=@user.name%>
	        			  </div>
	      		  </a>
					<a href="http://robo.to/users/statusphere" title="Build the challenge">
  					  <div class="navbar-item nav-item-right">
  							Builder
  					  </div>
  				  </a>
					<% @link_logout = url_for(:controller =>'login',:action=>'logout') %>
					<a href="<%=@link_logout%>" title="log out">
					  <div class="navbar-item nav-item-right">
							Log Out
					  </div>
				  </a>
	

       </div>
  <div class="clear"></div>
	<div class="clear"></div>
</div>

<%= yield %>

</body>
</html>
